<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Find your sugar level</h1>
    <form action="result.html" method="POST">
        <p>Pregnancies: <input type="number" name="preg"> </p><br>
        <p>Glucose: <input type="number" name="glucose"> </p><br>
        <p>Blood Pressure: <input type="number" name="bloodpre"> </p><br>
        <p>SkinThickness : <input type="number" name="skinthick"> </p>
        <p>Insulin : <input type="number" name="insulin"> </p>
        <p>BMI : <input type="number" name="bmi"> </p>
        <p>DiabetesPedigreeFunction : <input type="number" min="0" value="0" step="0.01" name="pedigrefun"> </p>
        <p>Age : <input type="number" name="age"> </p>
        <input type="submit" value="Predict">
    </form>
</body>
</html>